<h2>Available drones</h2>

<ul>
    {{#each allDrones}}
    <li class='list-group-item'>
        Name: <a href="/drones/{{this.id}}/edit"> {{this.name}} </a> - Propellers: {{this.propellers}} - Speed: {{this.maxSpeed}}
    </li>
    <form action="/drones/{{this.id}}/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
    {{/each}}
</ul>